:root {
  --NavBackground: rgba(205, 205, 226, 1);
  --Background: rgba(205, 205, 226, 0.76);
  --FooterBackground: rgba(205, 205, 226, 0.74);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-drag: none;
}

body {
  height: 100vh;
  margin: 0;
  font-size: 1em;
  overflow: -moz-scrollbars-none;
  font-family: Arial, sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body ::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  width: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(farthest-corner at 30vw 20vh, #416b76 1%, #2b182c 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -99;
}

#navContainer {
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#nameHeader {
  text-shadow: 0px 0px 0.1em rgba(7, 42, 155, 0.5);
  position: fixed;
  margin: auto;
  width: 100%;
  font-size: 1.5rem;
}

#navBar {
  width: 92vw;
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 0.1em rgb(7, 42, 155);
  padding: 0.5rem;
  background: var(--NavBackground);
  position: fixed;
  z-index: 1000;
  border-radius: 0 0 1rem 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: Constantia;
}

.navItem {
  padding: 1rem;
  margin-inline: auto;
  margin-top: none;
  margin-bottom: none;
  flex-wrap: wrap;
}
.navItem a {
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline-block;
  opacity: 0.8;
  transition: opacity 150ms ease-in-out;
}
.navItem a::before, .navItem a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.navItem a::before {
  top: 0;
  transform-origin: center;
}
.navItem a::after {
  bottom: 0;
  transform-origin: center;
}
.navItem a:hover::before, .navItem a:hover::after {
  transform: scaleX(1);
}
.navItem a:hover, .navItem a:active {
  color: rgb(68, 68, 68);
}

.navLogo {
  padding-inline: 1rem;
  margin-top: none;
  margin-bottom: none;
}
.navLogo img {
  position: relative;
  top: 50%;
  left: 100%;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid rgba(19, 19, 33, 0.8);
  transform: translate(-100%, -50%);
  transition: 0.3s;
}
.navLogo img:hover {
  filter: contrast(80%) hue-rotate(10deg) brightness(90%) drop-shadow(0em 0em 0.15em rgba(57, 71, 119, 0.733));
}

#pageWrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  padding-top: 2rem;
  overflow-y: auto;
}

#aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-top: 0rem;
  overflow-y: auto;
}

#contentContainer {
  z-index: 1;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-clip: text;
  background: linear-gradient(transparent 3.5rem, black 6rem, black calc(100% - 3.5rem), transparent calc(100% - 0.5rem));
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-position: fixed;
  color: transparent;
}

#contentBGWrapper {
  z-index: -2;
  background: linear-gradient(transparent 3.5rem, rgba(205, 205, 226, 0.75) 6rem, rgba(205, 205, 226, 0.75) calc(100% - 3.5rem), transparent calc(100% - 0.5rem));
  background-attachment: fixed;
  padding: 2rem;
  margin-inline: 8vw;
  margin-block: 4rem;
  border-radius: 1rem;
}

.mediaSection {
  display: flex;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  overflow-y: auto;
  gap: 3rem;
  justify-content: center;
}

.mSecMedia {
  flex-grow: 1;
  padding: 0.75rem;
}
.mSecMedia img {
  position: relative;
  top: 50%;
  left: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgba(19, 19, 33, 0.8);
  transform: translate(-100%, -50%);
}

.aboutTile {
  padding: 1rem;
  height: 18rem;
  width: 50rem;
  z-index: -2;
  background: rgba(205, 205, 226, 0.75);
  margin-inline: auto;
  border-radius: 1rem;
  color: black;
  text-align: left;
}

.mSecHeader {
  padding-top: 1rem;
  margin: 0;
  font-size: 1.5rem;
  line-height: normal;
}

.mSecContent {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.mSecFooter {
  margin-top: auto;
  padding: 0em;
  display: flex;
  margin-left: -1rem;
  justify-content: flex-start;
}

#footerContainer {
  background-color: transparent;
  text-align: center;
  margin: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#footer {
  z-index: 99;
  background: var(--FooterBackground);
  text-align: center;
  position: relative;
}
#footer ul.socialBar {
  position: relative;
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0.25em;
}
#footer ul.socialBar img {
  width: 3em;
  filter: none;
  transition: filter 0.3s;
}
#footer ul.socialBar img:hover {
  filter: drop-shadow(-0.2em 0.2em 0.2em rgba(7, 42, 155, 0.5));
}
#footer ul.footerInfo {
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0.25em;
  font-weight: bold;
}

.aboutFooterIcon {
  height: 3rem;
  width: 3rem;
  margin-inline: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(134, 134, 151, 0.76);
  border-radius: 99rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(15, 18, 49, 0.271);
}

.github-icon svg {
  height: 60%;
  width: 60%;
}
.github-icon svg path {
  fill: rgba(0, 0, 0, 0.75);
  transition-timing-function: cubic-bezier(0.2, 0, 0.4, 1);
  transition-duration: 0.25s;
}
.github-icon svg:hover path {
  fill: rgba(72, 0, 98, 0.9);
}

.linkedin-icon svg {
  height: 55%;
  width: 55%;
}
.linkedin-icon svg path {
  fill: rgba(0, 0, 0, 0.75);
  transition-timing-function: cubic-bezier(0.2, 0, 0.4, 1);
  transition-duration: 0.25s;
}
.linkedin-icon svg:hover path {
  fill: rgba(0, 115, 177, 0.8);
}

.mail-icon svg {
  height: 80%;
  width: 80%;
}
.mail-icon svg path {
  fill: rgba(0, 0, 0, 0.75);
  transition-timing-function: cubic-bezier(0.2, 0, 0.4, 1);
  transition-duration: 0.25s;
}
.mail-icon svg:hover path {
  fill: rgb(42, 87, 43);
}/*# sourceMappingURL=index.css.map */