:root {
  --NavBackground: rgba(205, 205, 226, 1);
  --Background: rgba(205, 205, 226, 0.76);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-drag: none;
}

body {
  height: 100vh;
  margin: 0;
  font-size: 1em;
  overflow: -moz-scrollbars-none;
  font-family: Arial, sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body ::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  width: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(farthest-corner at 30vw 20vh, #416b76 1%, #2b182c 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -99;
}

#pageWrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  padding-top: 2rem;
  overflow-y: auto;
}

#aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-top: 2rem;
  overflow-y: auto;
}

#contentContainer {
  z-index: 1;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-clip: text;
  background: linear-gradient(transparent 3.5rem, black 6rem, black calc(100% - 3.5rem), transparent calc(100% - 0.5rem));
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-position: fixed;
  color: transparent;
}

#contentBGWrapper {
  z-index: -2;
  background: linear-gradient(transparent 3.5rem, rgba(205, 205, 226, 0.75) 6rem, rgba(205, 205, 226, 0.75) calc(100% - 3.5rem), transparent calc(100% - 0.5rem));
  background-attachment: fixed;
  padding: 2rem;
  margin-inline: 8vw;
  margin-block: 4rem;
  border-radius: 1rem;
}

.mediaSection {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  padding: 1rem;
  overflow-y: auto;
}

.mSecMedia {
  flex-grow: 1;
}

.mSecContent {
  flex-grow: 2;
}

#footerContainer {
  background-color: transparent;
  text-align: center;
  margin: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#footer {
  z-index: 99;
  background: var(--NavBackground);
  text-align: center;
  position: relative;
}
#footer ul.socialBar {
  position: relative;
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0.25em;
}
#footer ul.socialBar img {
  width: 3em;
  filter: none;
  transition: filter 0.3s;
}
#footer ul.socialBar img:hover {
  filter: drop-shadow(-0.2em 0.2em 0.2em rgba(7, 42, 155, 0.5));
}
#footer ul.footerInfo {
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0.25em;
  font-weight: bold;
}

#navContainer {
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#nameHeader {
  text-shadow: 0px 0px 0.1em rgba(7, 42, 155, 0.5);
  position: fixed;
  margin: auto;
  width: 100%;
  font-size: 1.5rem;
}

header {
  width: 92vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-shadow: 0px 0px 0.1em rgb(7, 42, 155);
  padding: 0.5rem;
  background: var(--NavBackground);
  text-align: center;
  position: fixed;
  z-index: 1000;
  border-radius: 0 0 1rem 1rem;
}

.logo {
  margin: 0;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.logo img {
  position: absolute;
  top: 45%;
  left: 45%;
  height: 90%;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.6);
  transform: translate(-100%, -50%);
  transition: 0.3s;
}

.logo img:hover {
  filter: contrast(80%) hue-rotate(10deg) brightness(90%) drop-shadow(0em 0em 0.15em rgba(57, 71, 119, 0.733));
}

nav {
  all: unset;
  font-family: Constantia;
  display: flex;
  justify-content: flex-end;
}
nav * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
nav ul li {
  display: block;
  margin-top: 0.75em;
  margin-bottom: 1em;
  margin-left: 2em;
}
nav a {
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline-block;
  opacity: 0.8;
  transition: opacity 150ms ease-in-out;
}
nav a::before, nav a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
nav a::before {
  top: 0;
  transform-origin: center;
}
nav a::after {
  bottom: 0;
  transform-origin: center;
}
nav a:hover::before, nav a:hover::after {
  transform: scaleX(1);
}
nav a:hover, nav a:active {
  color: rgb(68, 68, 68);
}/*# sourceMappingURL=index.css.map */